# Fetch Data from Data Sources

---

### Import Libraries and Dependencies

In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
import datetime as dt
import pandas_datareader as pdr

### Get data directly from Yahoo from Yahoo Finance API

In [18]:
# Fetch historical data from Yahoo Finance for the specified date range 
# and save it to respective CSV files in the Resources folder


# Date Range
start_date = dt.datetime(2010,1,1)
end_date = dt.datetime(2020,1,1)

# Tickers
tickers = ['AAPL', 'AMZN', 'BABA', 'EMR', 'EURUSD=X', 'EXC', 'F', 'GBPUSD=X', 
           'Gold', 'GOOG', 'JPM', 'KO', 'MMM', 'Oil', 'PFE', 'SSNLF', 'SIEGY', 'SPG', 'TSLA']

# 'iShares Corporate Bond', 'iShares High Yield Bond', 'MSCI Europe', 'Russell 2000', 'Samsung', 'Siemens'

all_data = pd.DataFrame()
tickers_no_data_found = []

for ticker in tickers:
    print(f"Fetching {ticker} data from Yahoo Finance")
    try:
        #tmp_data = pd.DataFrame()
        tmp_data = pdr.get_data_yahoo(ticker, start = start_date, end = end_date)
        tmp_data['Ticker'] = ticker
        tmp_data.to_csv(f"Resources/Yahoo Finance/{ticker}.csv")
        all_data = all_data.append(tmp_data)
    except:
        print(f" > No data found for {ticker}")
        tickers_no_data_found.append(ticker)
        
all_data.to_csv(f"Resources/Yahoo Finance/All Yahoo Data.csv")

Fetching AAPL data from Yahoo Finance
Fetching AMZN data from Yahoo Finance
Fetching BABA data from Yahoo Finance
Fetching EMR data from Yahoo Finance
Fetching EURUSD=X data from Yahoo Finance
Fetching EXC data from Yahoo Finance
Fetching F data from Yahoo Finance
Fetching GBPUSD=X data from Yahoo Finance
Fetching Gold data from Yahoo Finance
Fetching GOOG data from Yahoo Finance
Fetching JPM data from Yahoo Finance
Fetching KO data from Yahoo Finance
Fetching MMM data from Yahoo Finance
Fetching Oil data from Yahoo Finance
Fetching PFE data from Yahoo Finance
Fetching SSNLF data from Yahoo Finance
Fetching SIEGY data from Yahoo Finance
Fetching SPG data from Yahoo Finance
Fetching TSLA data from Yahoo Finance

,High,Low,Open,Close,Volume,Adj Close,Ticker
Date,,,,,,,
2010-01-04,7.660714,7.585000,7.622500,7.643214,493729600.0,6.593423,AAPL
2010-01-05,7.699643,7.616071,7.664286,7.656429,601904800.0,6.604822,AAPL
2010-01-06,7.686786,7.526786,7.656429,7.534643,552160000.0,6.499765,AAPL
2010-01-07,7.571429,7.466071,7.562500,7.520714,477131200.0,6.487749,AAPL
2010-01-08,7.571429,7.466429,7.510714,7.570714,447610800.0,6.530882,AAPL
...,...,...,...,...,...,...,...
2019-12-24,85.094002,82.538002,83.671997,85.050003,40273500.0,85.050003,TSLA
2019-12-26,86.695999,85.269997,85.582001,86.188004,53169500.0,86.188004,TSLA
2019-12-27,87.061996,85.222000,87.000000,86.075996,49728500.0,86.075996,TSLA
2019-12-30,85.800003,81.851997,85.758003,82.940002,62932000.0,82.940002,TSLA
2019-12-31,84.258003,80.416000,81.000000,83.666000,51428500.0,83.666000,TSLA

### Preparing Data

In [ ]:
# Define features set
X = df_AAPL.drop(["Open", "High", "Low", "Adj Close"], axis=1)
X.head()

### Calculate trading signals

In [ ]:
# Calculate daily return
X['Return'] = X['Close'].pct_change()

# Calculate 50 day simple movering average
X['MA 50'] = X['Close'].transform(lambda x: x.rolling(window = 50).mean())

# Calculate 100 day simple movering average
X['MA 100'] = X['Close'].transform(lambda x: x.rolling(window = 100).mean())

# Calculate simple moving average ratio to capture the relationship between the two moving averages
X['MA Ratio'] = X['MA 100'] / X['MA 50']

X.tail()

### Create Machine Learning Model

### Train Model

### Backtest/Tweak Model

### Make Predictions

### Evaluate & Plot